@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgba(16, 23, 32, 1);
  --background-end-rgb: rgba(16, 23, 32, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: rgba(16, 23, 32, 1);
    ;
    --background-end-rgb: rgba(16, 23, 32, 1);
  }
}

@layer components {
  .nav-link {
    @apply font-chakra text-[32px] font-semibold leading-8 text-mainTextColor cursor-pointer;
  }

  .text-title {
    @apply text-titleColor text-2xl font-semibold;
  }

  .text-description {
    @apply text-mainTextColor text-xl font-normal;
  }

  .cuted-button {
    @apply bg-[#FFFFF0] w-[275px] h-[56px] relative flex items-center cursor-pointer;
  }

  .cuted-skills-wrapper {
    @apply w-[200px] h-[54px] p-[2px];
  }

  .cuted-skills-item {
    @apply w-full h-full;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(16, 23, 32, 1);
}

.cuted-button {
  background: linear-gradient(56deg, transparent 10px, #FFFFF0 0);
}

.cuted-skills-wrapper {
  background: linear-gradient(56deg, transparent 10px,#C161C9  15%, #545AE9 35%, #3766a4 80%, #4959EC1A 100%);
}

.cuted-skills-item {
  background: linear-gradient(56deg, transparent 11px, #101720 0);

}

.gradient-border-right {
  padding: 3px;
  background-image: -webkit-linear-gradient(315deg, #4959EC26 15%, #545AE9 25%, #C161C9 45%, #4959EC 65%, #4959EC26 80%, #4959EC 90%, #C161C9 100%);
  background-image: -moz-linear-gradient(315deg, #ee82ee, slateblue, #ffd86a, purple);
  background-image: -o-linear-gradient(315deg, #4959EC, slateblue, #ffd86a, purple);
}

.gradient-border-left {
  padding: 3px;
  background-image: -webkit-linear-gradient(352deg, #4959EC26 15%, #545AE9 25%, #C161C9 45%, #4959EC 65%, #4959EC26 80%, #4959EC 90%, #C161C9 100%);
  background-image: -moz-linear-gradient(352deg, #ee82ee, slateblue, #ffd86a, purple);
  background-image: -o-linear-gradient(352deg, #4959EC, slateblue, #ffd86a, purple);
}

.inner-shadow {
  box-shadow: 0px 10px 40px 30px #050b12f5 inset;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
